@model TecnologyShop.Models.ShoppingCart
@using TecnologyShop.Extensions
@{
    ViewData["Title"] = "Item Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    img {
        width: 50%;
        border-radius: 5px;
        border: 1px solid #bbb9b9;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>
<br />
<h2 class="text-info">Items Details</h2>
<br />
<form method="post">
    <div class="border backgroundWhite row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-11 pb-4 d-md-inline-block">
            <img src="@Model.CatalogueItem.Image" />
        </div>
        <div class="col-md-8">
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="CatalogueItem.Name" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="CatalogueItem.Name" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="CatalogueItem.Description" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    @Html.Raw(Model.CatalogueItem.Description)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="CatalogueItem.Price" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="CatalogueItem.Price" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="CatalogueItem.CategoryId" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="CatalogueItem.Category.Name" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="CatalogueItem.Category.RegisterDate" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" type="date" value=@ViewBag.Fecha readonly
                           asp-for="CatalogueItem.Category.RegisterDate">
                </div>
            </div>


            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="CatalogueItem.SubCategoryId" name="aaa" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="CatalogueItem.SubCategory.Name" readonly class="form-control" />
                </div>
            </div>
            <fieldset disabled>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="CatalogueItem.Stock" name="bbb" class="text-info font-weight-bold"></label>
                    </div>
                    <div class="col-md-8">
                        <select asp-for="CatalogueItem.Stock" asp-items="Html.GetEnumSelectList<CatalogueItem.OnStock>()" class="field"></select>
                    </div>
                </div>
            </fieldset>

            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="Count" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Count" class="form-control" />
                    <span asp-validation-for="Count" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                </div>
                <div class="col-md-4">
                    @if (Model.CatalogueItem.Stock == "1")
                    {
                        <button type="submit" value="Add to Cart"
                                class="btn btn-primary form-control">
                                Add to Cart
                        </button>
                     }
                     else {
                <button disabled type="submit" value="Add to Cart"
                        class="btn btn-danger form-control">
                    not available
                </button>
                     }
                </div>
            </div>
        </div>

    </div>
    <input asp-for="CatalogueItemID" hidden />
</form>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}