body {
}

h2 {
    color: snow;
}

body {
    background-color:white;
}

.form {
    margin: 0 auto;
    width: 70%;
    padding: 10px;
    color: black;
    border-radius: 10px;
}

label {
    color:black;
}

.form div {
    background-color: snow;
    font-size: 20px;
}

input, textarea, select {
    outline: none;
}

.field {
    border: 1px solid #ccc;
}

    .field:focus {
        border-color: rgb(18, 107, 122);
    }

